openapi: 3.0.2
info:
  version: "1.0.0"

  title: Affitch API

  contact:
    url: "https://affitch.com/contact"

  x-logo:
    url: "https://redocly.github.io/openapi-template/logo.png"

  description: |
    **Affitch**のREST APIに関する仕様書です。

    # Introduction
    AffitchではPremiumプラン向けにAPIを提供しています。APIを活用することで自社の運用方法に最適化された自動化を構築することができます。

    # Authentication
    APIを利用するにはAPIキーが必要です。APIキーはShopifyアプリトップページの「APIの利用 > APIキーの管理」から取得できます。すべてのAPIリクエストのヘッダー `x-api-key` にAPIキーを含めてください。

    # Rate limit
    1ヶ月間に送信できるリクエストの総数は10,000件です。また同時に送信可能なリクエストの最大数は5件です。これらの上限の引き上げが必要な場合は、[お問い合わせ](https://affitch.com/contact) よりご連絡ください。

externalDocs:
  description: アプリの利用マニュアル
  url: "https://affitch.com/docs"

tags:
  - name: Affiliate
    description: アフィリエイトのAPI
  - name: Conversion
    description: コンバージョンのAPI
  - name: Payout
    description: 報酬支払のAPI
servers:
  - url: "https://api.affitch.com/v1"

paths:
  "/conversions":
    get:
      tags:
        - Conversion

      summary: コンバージョン一覧

      description: |
        コンバージョンの一覧を取得します。

      operationId: listConversions

      parameters:
        - name: page
          in: query
          description: ページ番号
          required: false
          schema:
            type: number
            default: 1
        - name: page_size
          in: query
          description: 1ページあたりの件数
          required: false
          schema:
            type: number
            default: 20
            maximum: 100

      security:
        - api_key: []

      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  conversions:
                    type: array
                    items:
                      $ref: "#/components/schemas/conversion"
                  meta:
                    type: object
                    properties:
                      pagination:
                        $ref: "#/components/schemas/pagination"

  "/conversions/{id}":
    get:
      tags:
        - Conversion

      summary: コンバージョン詳細

      description: |
        コンバージョン1件のデータを取得します。

      operationId: getConversion

      parameters:
        - name: id
          in: path
          description: コンバージョンID
          required: true
          schema:
            type: string

      security:
        - api_key: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/conversion"
        "403":
          description: Forbidden
        "404":
          description: Conversion not found

  "/conversions/{id}/approve":
    post:
      tags:
        - Conversion

      summary: コンバージョン承認

      description: |
        コンバージョン1件のステータスを「承認」に更新します。

      operationId: approveConversion

      parameters:
        - name: id
          in: path
          description: コンバージョンID
          required: true
          schema:
            type: string

      security:
        - api_key: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/conversion"
        "403":
          description: Forbidden

  "/conversions/{id}/reject":
    post:
      tags:
        - Conversion

      summary: コンバージョン拒否

      description: |
        コンバージョン1件のステータスを「拒否」に更新します。

      operationId: rejectConversion

      parameters:
        - name: id
          in: path
          description: コンバージョンID
          required: true
          schema:
            type: string

      security:
        - api_key: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                conversion:
                  type: object
                  properties:
                    comment:
                      type: string
                      description: 承認拒否の理由（アフィリエイトには表示されません。）
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/conversion"
        "403":
          description: Forbidden
        "404":
          description: Conversion not found
        "422":
          description: Status must be PENDING

components:
  schemas:
    id:
      description: ID
      type: string
      example: 01HRB68JC8185BJ6MPQMM71H9C
    created_at:
      description: 作成日時
      type: string
      example: 2024-01-01T00:00:00Z
    pagination:
      type: object
      properties:
        page:
          type: number
          example: 1
        total_pages:
          type: number
          example: 10
        total_count:
          type: number
          example: 100
        has_previous:
          type: boolean
          example: true
        has_next:
          type: boolean
          example: true
    conversion:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/id"
        kind:
          description: 種類
          type: string
          enum:
            - CLICK
            - DISCOUNT_CODE
            - RECURRING
          example: CLICK
        status:
          description: ステータス
          type: string
          enum:
            - PENDING
            - APPROVED
            - REJECTED
          example: PENDING
        amount:
          description: 注文金額
          type: number
          example: 10000
        commission:
          description: 報酬金額
          type: number
          example: 1000
        commission_rate:
          description: 報酬レート(%)
          type: number
          example: 10.0
        comment:
          description: 承認拒否の理由
          type: string
          example: 返金注文（自動拒否）
        order_number:
          description: Shopify 注文番号
          type: number
          example: 1001
        order_id:
          description: Shopify 注文ID
          type: number
          example: 5916298510497
        created_at:
          $ref: "#/components/schemas/created_at"
        affiliate_id:
          description: アフィリエイト参照ID
          type: string
          example: 01HRB7TCSJNCGZKDCGY1G2R2JP
        payout_id:
          description: 報酬支払参照ID
          type: string
          example: 01J48WN09KC6PT954DMMVN9707
  securitySchemes:
    api_key:
      type: apiKey
      in: header
      name: x-api-key
