openapi: 3.0.2
info:
  version: "1.0.0"

  title: Affitch API

  description: |
    こちらはAffitchのREST APIに関する仕様書です。

    ## はじめに
    AffitchではPremiumプラン向けにAPIを提供しています。APIを活用することで自社の運用方法に最適化された自動化を構築することができます。

    ## 認証
    APIを利用するにはAPIキーが必要です。APIキーはShopifyアプリトップページの「APIの利用 > APIキーの管理」から取得できます。すべてのAPIリクエストのヘッダー `x-api-key` にAPIキーを含めてください。

    ## レート制限
    1ヶ月間に送信できるリクエストの総数は10,000件です。また同時に送信可能なリクエストの最大数は5件です。これらの上限の引き上げが必要な場合は、[お問い合わせ](https://affitch.com/contact)よりご連絡ください。

externalDocs:
  description: アプリの利用マニュアル
  url: "https://affitch.com/docs"

tags:
  - name: Affiliate
    description: アフィリエイトのAPI
  - name: Conversion
    description: コンバージョンのAPI
  - name: Payout
    description: 報酬支払のAPI
servers:
  - url: "https://api.affitch.com/v1"

paths:
  "/conversions":
    get:
      tags:
        - Conversion

      summary: コンバージョン一覧

      description: |
        コンバージョンの一覧を取得します。

      operationId: listConversions

      parameters:
        - name: page
          in: query
          description: ページ番号
          required: false
          schema:
            type: number
            default: 1
        - name: page_size
          in: query
          description: 1ページあたりの件数
          required: false
          schema:
            type: number
            default: 20
            maximum: 100

      security:
        - api_key: []

      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  conversions:
                    type: array
                    items:
                      $ref: "#/components/schemas/Conversion"
                  meta:
                    type: object
                    properties:
                      pagination:
                        $ref: "#/components/schemas/Pagination"

  "/conversions/{id}":
    get:
      tags:
        - Conversion

      summary: コンバージョン詳細

      description: |
        コンバージョン1件のデータを取得します。

      operationId: getConversion

      parameters:
        - name: id
          in: path
          description: コンバージョンID
          required: true
          schema:
            type: string

      security:
        - api_key: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  conversion:
                    $ref: "#/components/schemas/Conversion"
        "403":
          description: Forbidden
        "404":
          description: Conversion not found

  "/conversions/{id}/approve":
    post:
      tags:
        - Conversion

      summary: コンバージョン承認

      description: |
        コンバージョン1件のステータスを「承認」に更新します。

      operationId: approveConversion

      parameters:
        - name: id
          in: path
          description: コンバージョンID
          required: true
          schema:
            type: string

      security:
        - api_key: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  conversion:
                    $ref: "#/components/schemas/Conversion"
        "403":
          description: Forbidden

  "/conversions/{id}/reject":
    post:
      tags:
        - Conversion

      summary: コンバージョン拒否

      description: |
        コンバージョン1件のステータスを「拒否」に更新します。

      operationId: rejectConversion

      parameters:
        - name: id
          in: path
          description: コンバージョンID
          required: true
          schema:
            type: string

      security:
        - api_key: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                conversion:
                  type: object
                  properties:
                    comment:
                      type: string
                      description: 承認拒否の理由（アフィリエイトには表示されません。）
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  conversion:
                    $ref: "#/components/schemas/Conversion"
        "403":
          description: Forbidden
        "404":
          description: Conversion not found
        "422":
          description: Status must be PENDING

"/payouts":
  get:
    tags:
      - Payout

    summary: 報酬支払一覧

    description: |
      報酬支払の一覧を取得します。

    operationId: listPayouts

    parameters:
      - name: page
        in: query
        description: ページ番号
        required: false
        schema:
          type: number
          default: 1
      - name: page_size
        in: query
        description: 1ページあたりの件数
        required: false
        schema:
          type: number
          default: 20
          maximum: 100

    security:
      - api_key: []

    responses:
      "200":
        description: Success
        content:
          application/json:
            schema:
              type: object
              properties:
                payouts:
                  type: array
                  items:
                    $ref: "#/components/schemas/Payout"
                meta:
                  type: object
                  properties:
                    pagination:
                      $ref: "#/components/schemas/Pagination"

  "/payouts/{id}":
    get:
      tags:
        - Payout

      summary: 報酬支払詳細

      description: |
        報酬支払1件のデータを取得します。

      operationId: getPayout

      parameters:
        - name: id
          in: path
          description: 報酬支払ID
          required: true
          schema:
            type: string

      security:
        - api_key: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  payout:
                    $ref: "#/components/schemas/PayoutWithConversions"
        "403":
          description: Forbidden
        "404":
          description: Payout not found

  "/payouts/{id}/mark_as_paid":
    post:
      tags:
        - Payout

      summary: 報酬支払の支払登録

      description: |
        報酬支払のステータスを「支払済」に更新します。

      operationId: payoutMarkAsPaid

      parameters:
        - name: id
          in: path
          description: 報酬支払ID
          required: true
          schema:
            type: string

      security:
        - api_key: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                payout:
                  type: object
                  properties:
                    paid_on:
                      type: string
                      description: 支払日
                      example: 2024-01-01
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  payout:
                    $ref: "#/components/schemas/Payout"
        "403":
          description: Forbidden
        "404":
          description: Conversion not found
        "422":
          description: Paid on is invalid

components:
  schemas:
    Pagination:
      type: object
      properties:
        page:
          type: number
          example: 1
        total_pages:
          type: number
          example: 10
        total_count:
          type: number
          example: 100
        has_previous:
          type: boolean
          example: true
        has_next:
          type: boolean
          example: true
    Conversion:
      type: object
      properties:
        id:
          description: ID
          type: string
          example: 01HRB68JC8185BJ6MPQMM71H9C
        kind:
          description: 種類
          type: string
          enum:
            - CLICK
            - DISCOUNT_CODE
            - RECURRING
          example: CLICK
        status:
          description: ステータス
          type: string
          enum:
            - PENDING
            - APPROVED
            - REJECTED
          example: PENDING
        amount:
          description: 注文金額
          type: number
          example: 10000
        commission:
          description: 報酬金額
          type: number
          example: 1000
        commission_rate:
          description: 報酬レート(%)
          type: number
          example: 10.0
        comment:
          description: 承認拒否の理由
          type: string
          example: 返金注文（自動拒否）
        order_number:
          description: Shopify 注文番号
          type: number
          example: 1001
        order_id:
          description: Shopify 注文ID
          type: number
          example: 5916298510497
        created_at:
          description: 作成日時
          type: string
          example: 2024-01-01T00:00:00Z
        affiliate_id:
          description: アフィリエイト参照ID
          type: string
          example: 01HRB7TCSJNCGZKDCGY1G2R2JP
        payout_id:
          description: 報酬支払参照ID
          type: string
          example: 01J48WN09KC6PT954DMMVN9707
    Payout:
      type: object
      properties:
        id:
          description: ID
          type: string
          example: 01HRB68JC8185BJ6MPQMM71H9C
        status:
          description: ステータス
          type: string
          enum:
            - PENDING
            - PAID
            - REJECTED
          example: PENDING
        amount:
          description: 金額
          type: number
          example: 10000
        due_on:
          description: 支払期日
          type: string
          example: 2024-01-01
        paid_on:
          description: 支払日
          type: string
          example: 2024-01-01
        created_at:
          description: 作成日時
          type: string
          example: 2024-01-01T00:00:00Z
        affiliate_id:
          description: アフィリエイト参照ID
          type: string
          example: 01HRB7TCSJNCGZKDCGY1G2R2JP
    PayoutWithConversions:
      allOf:
        - $ref: "#/components/schemas/Payout"
        - type: object
          properties:
            conversions:
              type: array
              items:
                $ref: "#/components/schemas/Conversion"

  securitySchemes:
    api_key:
      type: apiKey
      in: header
      name: x-api-key
